// -------------------------------------------
// ------------ RIGHT section ----------------
// ----- ↓↓↓ --------------------- ↓↓↓ -------

.right__section {
    margin-top: 1.4rem;
    @media (max-width: 768px){
        width: 94%;
        margin: 0 auto 4rem;
    }

    &__top {
        display: flex;
        justify-content: end;
        gap: 2rem;
        @media (max-width: 768px){
            position: fixed;
            top: 0;
            left: 0;
            align-items: center;
            padding: 0 0.8rem;
            height: 4.6rem;
            background-color: $white;
            width: 100%;
            margin: 0;
            z-index: 2;
            box-shadow: 0 1rem 1rem $light;
        }

        button {
            display: none;
            @media (max-width: 768px){
                display: inline-block;
                background-color: transparent;
                cursor: pointer;
                color: $dark;
                position: absolute;
                left: 1rem;
            }
        }

        &__admin {
            display: flex;
            gap: 2rem;
            text-align: right;

        }
    }
}


// --- SUBsection RECENT DONORS ---

.right__section .recent__donors {
    margin-top: 1rem;
    width: 98%;

    h2 {
        margin-bottom: 1rem;
    }

    &__content {
        padding: $card-padding;
        border-radius: $card-border-radius;
        box-shadow: $box-shadow;
        transition: 300ms ease-in;
        background-color: $white;

        &:hover {
            box-shadow: none;
        }

        &__info {
            display: grid;
            grid-template-columns: 2.6rem auto;
            gap: 1rem;
            margin-bottom: 1rem;
        }
    }
}


// --- SUBsection ANALYTICS ---
 
.right__section .analytics {
    margin-top: 2rem;
    width: 98%;

    h2{
        margin-bottom: 0.8rem;
    }

    &__container {
        background-color: $white;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0.7rem;
        padding: 1.4rem $card-padding;
        border-radius: $border-radius-3;
        box-shadow: $box-shadow;
        transition: 300ms ease-in;

        &:hover {
            box-shadow: none;
        }

        .right {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 0;
            width: 100%;
            background-color: red;
        }

        &__icon {
            padding: 0.6rem;
            color: $white;
            border-radius: 50%;
            display: flex;
            background-color: $primary;
        }
    }
}

// -- customized icon colors --
#analytics__danger {
        background-color: $danger;
    }

#analytics__success {
        background-color: $success;
    }

 //------ ↑↑↑ END of RIGHT section ↑↑↑ -------