

@mixin flex ($justify, $align, $direction, $gap){
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
    gap: $gap;	
}

@mixin media ($breakpoint){
    @media(max-width:$breakpoint){
        @content;
    }
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
    appearance: none;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    }

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'poppins';
    font-size: 0.88rem;
    
    user-select: none;
    overflow-x: hidden;
    color: $dark;
}

img {
    display: block;
    width: 100%;
}

small {
    font-size: 0.75;
}

.profile__photos__global {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50px;
    overflow: hidden;
}

.text-muted {
     color: $info-dark;
}

p {
    color: $dark-variant;
}

b {
    color: $dark;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 20rem;
    @media (max-width: 1300px){
        grid-template-columns: 7rem auto 20rem;
    }
    @media (max-width: 768px) {
        width: 100%;
        grid-template-columns: 1fr;
    }
}

// @include flex(center, start, column, 2rem);
// 
// @include media(768px){
//     width: 55%;
// }
